@media only screen and (max-width: 1199.98px) {
    .banner-content a {
        padding: 14px 18px;
       
    }
    .latest-profile-user {
  
        width: 150px;
       
    }
    .service-list img {
        margin-top: 10px;
    }
    .feature-title {
        margin-top: 100px;
        margin-bottom: 30px;
    }

    .feature-container {
       
        background-size: 100% 975px;
        height: 975px;
    }

    .feature-title {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    img.feature-left {
        left: -30px;
    }

    .price-list {
        padding: 100px 20px 50px 20px;
       
    }
    .price-list span.price-list-heading {

        right: -10px;
      
    }
     
   
}

@media only screen and (max-width: 991.98px) {
    div#navbarSupportedContent {
        background: #ffffff;
        position: absolute;
        width: 100%;
        top: 72px;
        left: 0px;
        z-index: 9999;;
    }
    .navbar-toggler-icon {

      	border-radius: 2px;
  	}
    .nav-menu {
      	align-items: left;
      	display: inline;
    }
    .nav-menu-right li a {
		margin-left: 12px;
    }

    .banner-img img {
        width: 100%;
    }

    .banner-content h1 {
        font-size: 44px;
        line-height: 54px;
    }
    .latest-profile {

        flex-direction: column;
        justify-content: flex-start;
    }
    .banner-content p {

        font-size: 14px;
        line-height: 24px;
    }
    .latest-profile-user {
        margin-top: 20px;
        margin-left: 70px;
    }

    .service-list h3 {
       
        font-size: 16px;
        line-height: 26px;
    }
    .service-list p {
        font-size: 14px;
        line-height: 24px;

    }
    .service-list-investor h3 {
        font-size: 32px;

        line-height: 42px;
    }

    .relationship-colum {
        padding-right: 0px;
    }

    .relationship-content p {
      
        font-size: 14px;
        line-height: 24px;
       
    }

    .relationship-content h2 {
        margin-top: -30px;
    }

    img.feature-left {
        left: -107px;
    }

    img.feature-right {
        bottom: -150px;

    }
    .tab-menu-item {
        width: 320px;
        height: 450px;
        /* overflow-y: scroll; */
    }

    .price-bg {
      
        height: 100%;
        
    }

    .price-list {
        margin-top: 30px;
    }

    footer {
    
        margin-top: 120px;
    
    }
    .footer-part h3 {
      
        margin-top: 30px;
    }

    .latest-news-heading h3 {
        margin-top: 0px;
    }
   
}



@media only screen and (max-width: 767.98px) {
    .relationship-content h2 {
        margin-top: 30px;
    }
    .feature-container {
        height: 100%;
        background: #F6F9FF;
    }

    img.feature-left {
        left: -108px;
        top: -70px;
    }

    .feature-title h2 {
        font-size: 32px;
        line-height: 42px;
    }

    .feature-content-img {
        text-align: center;
        margin-top: 30px;
    }

    img.mobile-love {
        position: absolute;
        right: 80px;
        top: -40px;
    }

    .tab-menu-item button {

        padding: 25px 0px 21px 2px;

    }

    .tab-menu-item {
        width: 220px;

        /* overflow-y: scroll; */
    }

    .say-tab-content {
        padding-left: 60px;
    }
    

}




@media only screen and (max-width: 575.98px) {
   
    .banner {
        margin-top: 70px;
    }
    img.android {
        width: 160px;
    }
    .feature-title img.ios {
        margin-left: 10px;
        width: 150px;
    }

    .feature-content-title h3 {
        margin-top: 16px;
    }
    .feature {
        padding-bottom: 110px;
    }
    .say-heading h2 {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 30px;
        margin-top: 50px;
    }
    .say-tab-content {
        padding-left: 10px;
        margin-top: -80px;
    }
    section.price {
        margin-top: 120px;
    }
    .section-title h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .footer-top-content {

        margin-top: 30px;
    }
    .footer-top-love2 img {
        margin-top: 30px;
    }
}